/* universal */
*{margin:0;padding:0}

html,body{width:100%;height:100%;}
body {background-color:black;
		background: url(img/texturay.jpg)  repeat-y fixed left top;
		background-size:100%;
			
		}
img{border:0}
.clear{clear:both;}
#wrapper {
		min-width: 800px;
		max-width:1200px;
		margin: 0 auto ;
		height:100%;
		-moz-box-sizing:border-box;
		padding: 140px 0px 0px;
		
		
			}
#content{  
		  
		  min-height:100%;
		  -moz-box-sizing:border-box;
		  padding-bottom:100px;
		  background-color: rgba(255,255,255,0.65);
		  margin: 0 50px;
		  
		  
			
			}
#content[white=no]{ background-color: transparent;}
#back {   position:fixed;
		  top:0;
		  left:0;
		  background-image: url(img/texturay.jpg);
		  background-position:top left;
		  background-size:100%;
		  height:140px;
		  width: 100%;
		  z-index:1;
		  
		  


			}
			
#header { position:fixed;
		  top:0;
		  left:50%;
		  height:135px;
		  width: 1200px;
		  z-index:1;
		  margin-left:-600px;
		  


			}
#footer {position:fixed;
		bottom:0;
		left:0;}


#logo{display:inline-block;
		margin-left:20px;
		float:left;
		width:200px;
		height:177px;}
#logo img{height:177px; width:210px;}
#header   div#menu {
			 
			 margin-left: 220px;
			 margin-right:50px;
			 margin-top:35px;
			 position:relative;
			 
			 
			 }
#header div > ul{list-style-type: none;
			display:inline-block;
			background-color:rgba(255,255,255,0.24);
			width:100%;
			border-radius:0.4em 0 0 0.6em;
			 border: solid 2px black;
			 border-width: 3px 0 3px 3px; 
			
			}
#header >div >ul >li >a{text-decoration:none;
			text-transform:uppercase;
			font-family:  'Oswald',​ Arial,​ sans-serif;
			font-weight:300;
			color:white;
			display:inline-block;
			width:100%;
			height:100%;
			}
#header >div >ul > li>a:hover{background-color:rgba(0,0,0,0.5)}			
#header >div>ul > li{float:left;
			width:14%;
			font-size: 3.0em;
			text-align:center;
			}
#header div >ul >li:nth-child(2){width:26%}
#header div >ul ul {display: none;}
#header div >ul li:hover ul {display: block;
						position:absolute;
						background-color: rgba(0,0,0,0.7);
						list-style:none;
						font-family: 'Oswald';
						color: white;
						
						}
#header div >ul > li > ul > li > a{padding: 5px 20px;
						text-decoration:none;
			text-transform:uppercase;
			font-family:  'Oswald',​ Arial,​ sans-serif;
			font-weight:300;
			color:white;
			display:inline-block;
			
						
						}
#header div >ul > li > ul > li:hover > a{color:black}
#header div >ul > li > ul > li:hover {background-color:rgba(255,255,255,0.7);}
/*#flag{position:absolute;
		height:50%;width:40px;
		background-color:rgba(100,100,100,0.5);
		bottom: 5px; 
		right:-46px;
		border-width:0;
		border-right-width:3px;
		border-color:black;
		border-style:solid;
		}
#flag:before{content:"";
			width:0;
			height:0;
			position:absolute;
			border-top: 36px solid transparent;
	    	border-left:40px solid rgba(100,100,100,0.5);
			top: -36px;
			right:0px;
			
			
			}
#flag:after{content:"";
			width:0;
			height:0;
			position:absolute;
			border-bottom: 36px solid transparent;
	    	border-right:40px solid rgba(100,100,100,0.5);
			top: 44px;
			right:0px;
			
			
			}*/
#flag{height:86%;
		width:40px;
		background-color:rgba(255,255,255,0.5);
		border-width: 4px 3px 4px 0;
		border-style: solid;
		border-color:black;
		transform: skew(0deg,40deg);
         -ms-transform: skew(0deg,40deg); /* IE 9 */
		-webkit-transform: skew(0deg,40deg); /* Safari and Chrome */
		position:absolute;
		top:18px; right:-46px;
		border-radius: 0 0px 0px 0;
		}
#back1 {   position:fixed;
		  bottom:0;
		  left:0;
		  background-image: url(img/bottom.jpg);
		  background-position:center center;
		  background-repeat: no-repeat;
		  height:91px;
		  width: 100%;
		  z-index:10;
		  background-color:black;
		  box-shadow: 0 0 0px black;
		  
		  


			}
#back1:before {   position:fixed;
			content:"";
		  bottom:0;
		  left:0;
		  background-image: url(img/bottom.jpg);
		  background-position:center center;
		  background-repeat: no-repeat;
		  height:91px;
		  width: 100%;
		  z-index:0;
		  background-color:black;
		  box-shadow: 0 -10px 50px black;
		  
		  


			}
			
#footer{ margin:0 auto;
		  position:relative;
		  background-color: rgba(255,255,255,0.5);
		  width:1100px;
		  height:20px;
		  margin-top: 20px;
		  padding: 20px 0;
		  
		  
		  


			}
#footer:before{position:absolute;
				content: "";
				width:0px;
				height: 0px;
				border-top: transparent solid 60px;
				border-right: rgba(255,255,255,0.5) solid 140px;
				top:0;
				left: -140px;
				}
#footer:after{position:absolute;
				content: "";
				width:0px;
				height: 0px;
				border-top: transparent solid 60px;
				border-left: rgba(255,255,255,0.5) solid 140px;
				top:0;
				right: -140px;
				}
#footer >div{ margin:0 auto;
		  position:relative;
		  width:1000px;
		  height:30px;
		  margin-top: 0px;
		  
		  
		  }
	      /*#footer div:after{position:absolute;
				content: "";
				width:0px;
				height: 0px;
				border-top: transparent solid 27px;
				border-left: rgba(255,255,255,1) solid 30px;
				top:-30;
				right: -30px;
				}*/
#footer div.gradient, #footer div:after, #footer div:before{
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(255, 247, 247, 0)), color-stop(100%, #ffffff));
background-image: -webkit-linear-gradient(top, rgba(255, 247, 247, 0) 0%, #ffffff 100%);
background-image: -moz-linear-gradient(top, rgba(255, 247, 247, 0) 0%, #ffffff 100%);
background-image: -ms-linear-gradient(top, rgba(255, 247, 247, 0) 0%, #ffffff 100%);
background-image: -o-linear-gradient(top, rgba(255, 247, 247, 0) 0%, #ffffff 100%);
background-image: linear-gradient(to bottom, rgba(255, 247, 247, 0) 0%, #ffffff 100%);}
/* koniec universal */
/* uvod zaciatiok*/
.col{
padding:20px;
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
-moz-column-gap:40px; /* Firefox */
-webkit-column-gap:40px; /* Safari and Chrome */
column-gap:40px;

-moz-column-rule:4px outset black; /* Firefox */
-webkit-column-rule:4px outset black; /* Safari and Chrome */
column-rule:4px outset #black;
text-align:justify;
text-justify:inter-word;

}
#content{font-family: arial;
		font-size: 1.1em;
		text-align:center;
		}

#audio{width:200px; 
		height:30px;
		float:right;
		padding: 0 20px 0 10px;
		position:relative;
		text-align:center;
		margin-right:63px;
		font-size:1.2em;
		}		
#audio_back{position:absolute;
			width: 44px;
			height:30px;
			left:0;
			top:-5px;
			background-image:url(img/audio/arrow_left.png);
			}
#go{		position:absolute;
			width: 44px;
			height:30px;
			top:-5px;
			right:0;
			background-image:url(img/audio/arrow_right.png);
			}
#mute     {	position:absolute;
			width: 50px;
			height:44px;
			background-image:url(img/audio/audio.png);
			right:-60px;
			bottom:4px;
			}
/*uvod koniec*/
/*fotky zac*/

#content.fotky a{width: 25%; 
				float: left;
				}
#content.fotky a img{display:block;}
#content.fotky a:nth-last-child(2), #content.fotky a:nth-last-child(3){width: 25%; position:relative; top: -50px;
				
				}

#content.fotky:hover  img{

    
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	border:0;


				}
#content.fotky img:hover{

	filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0%);
}
/*dab posledna foto*/
#content.fotky a.dab{position: relative; top:-231px; left:275px;}
/*fotky tanec posledne dve*/
#content.fotky a.none, #content.fotky a.none{width: 25%; position:relative; top: 0px;
				
				}
/*ucinkujuci*/
dt{color:white;text-shadow: 0 0 5px red;text-decoration: underline;
	line-height:15px;margin-top:10px}
dd{line-height:15px;display:inline-block;padding:0 5px ;color:white; text-shadow: 2px 2px 2px black}

#content>a>dl{display:block; height: 100%;margin-top: -10px;} 
dl:nth-child(odd){}
dl img{position:absolute;left:0;width:100%;z-index:-20;}
#content[white=no]>a, #content[white=no]>dl{display:inline-block; width: 33.3333333%; min-height: 150px;vertical-align:top;box-shadow:0 0 10px black inset;position:relative;z-index:0; overflow:hidden; background-color: rgba(0,0,0,0.5)}
#content>a dt{padding-top:10px}
/*ucinkujuci koniec */
/*ankety review */
#content #padding{padding:10px}
#content table{width:100%;border:0px;
				
				border-collapse:collapse}
#content table td{border-bottom:2px dotted black;
                width:50%;
				padding:10px
				}
#content table td:nth-child(odd){border-right:2px dotted black;}
#content table tr:nth-last-child(1) td{border-bottom:0 dotted black;}
#content table td {text-align:justify;vertical-align:top}
#content table td img{float:left; margin-right:10px}
#content table td:hover{background-color:rgba(0,0,0,0.5);
                      color:white;
					  }
/*ankety konkretne*/
.col1 strong {display:list-item; margin-top:20px;list-style-type:square;}
.col1 >strong {margin-left:15px;}
.col1 strong:first-child{margin-top:0px;}
.col1 p{margin:0 0px 0 15px;}
.col1{
padding:20px;
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
text-align:justify;
text-justify:inter-word;
}
#hlavicka{padding:10px;}
/* odpovedajuci*/
.col1 p strong.odpo{list-style-type:circle;margin-left:15px}
.col1  strong.odpo{list-style-type:circle;margin-left:30px}
.col1  ul {margin-left:30px}
.col1  ul  li{margin-bottom:10px}
/*hudba*/

